<nav role="navigation">
    <h1 class="header"><a href="/">Inventory</a></h1>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="#">Create </a>
            <ul class="dropdown">
                <li><a href="/category/create">Create Category</a></li>
                <li><a href="/product/create">Create Product</a></li>
            </ul>
        </li>
    </ul>
</nav>